$dark-green-text: #025157;
$green-background: #a1d683;
$gray-color: gray;
$background: #fffbf7;
$mycolor: white;
$font-matcha:  "Alegreya", serif;;

$font-title: 'Calibri';


/* placeholders */
%base-title{
    font-family: $font-title;
    color: $dark-green-text;
}