*{
    background-color: #fffbf7;
}

/* Estilos en el header */
.header {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0;
    line-height: 45px;
  }

 .header > * {
     display: inline-block;
     font-size: 16px;
     vertical-align: middle;
     height: 100%;
     line-height: 45px;
 } 


.logo{
    width: 15%;
    
}

.navbar{
    width: 70%;
    text-align: center;
    color: green;
}
.action{
    width: 15%;
    text-align: right;
    font-size: 14px;
}

 li{
     display: inline;
     list-style: none;
 } 

h1{
    color: #46484c;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    color: #46484c;
    font-family: Arial, Helvetica, sans-serif;
}

b{
    color: #8b8b8bcc;
}

button{
    background-color: #025157;
    color: #fff;
    border-radius: 20px;
    width: 90px;
    height: 40px;
}